<style>
  a {
    margin-right: 10px;
  }
  header {
    font-family: sans-serif;
    border-bottom: 1px solid grey;
    padding-bottom: 20px;
  }
  h3 {
    font-weight: bold;
    color: blue;
  }
</style>
<header>
  <div class="container">
    <h3> TinyApp: URL Shortener </h3>
      <a href="/"> Home </a>
      <% if (typeof user == 'undefined') { %>
        <a href="/register">Register</a>
        <a href="/login">Log in</a>
      <% } else { %>
        <a href="/urls">My URLs List</a>
        <a href="/urls/new">Add new URL</a>
        <form style="float: right" action="/logout" method="POST">
          <input type="submit" value="Log out">
        </form>
        <span style="float: right; margin-right: 10px"> Hello, <%= user.email %>! </span>
      <% } %>
  </div>
</header>
