
<header>
  <div class="container">
    <h1> TinyApp: URL Shortener </h1>
    <% if (typeof user == 'undefined') { %>
      <a href="/register"> Register </a>
      <a href="/login"> Log in </a>
    <% } else { %>
      <h2> Hello, <%= user.email %>! </h2>
      <form action="/logout" method="POST">
        <input type="submit" value="Log out">
      </form>
    <% } %>
  </div>
</header>
