<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/style.css">
  <title>TinyApp: URL Shortener</title>
</head>
<%- include("partials/_header") %>

<body>
  <h1>Welcome to TinyApp: a URL Shortener Tool!</h1>
</body>

</html>
