<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/style.css">
  <title> TinyApp: URL Shortener </title>
</head>
<header>
  <h1>Welcome to TinyApp: a URL Shortener Tool!</h1>
  <h2> New Registration </h2>
  <div class="container">
    <form action="/register" method="POST">
      <label for="email"> Email:</label>
      <input id="email" type="email" name="email" placeholder="email"/>
      <br>
      <br>
      <label for="password"> Password:</label>
      <input id="password" type="password" name="password" placeholder="password"/>
      <br>
      <br>
      <br>
      <input type="submit" value="Submit">
    </form>
  </div>
</header>
