<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/style.css">
  <title>TinyApp: URL Shortener</title>
</head>
<%- include("partials/_header") %>

<body>
  <h2>New Registration</h2>
  <div class="container">
    <form action="/register" method="POST">
      <label for="email"> Email:</label>
      <input id="email" type="email" name="email" placeholder="email"/>
      <label for="password"> Password:</label>
      <input id="password" type="password" name="password" placeholder="password"/>
      <input type="submit" value="Register">
    </form>
  </div>
</body>

</html>
