<!DOCTYPE html>
<html lang="en">

<% include partials/_header %>

<body>
  <div class="container">
    <h3> URLs and their shortened forms </h3>
    <p> List showing shortened forms </p>
    <ul>
      <% for (var key in urls) { %>
        <li><b>Full URL:</b> <%= urls[key] %>
          <b>Short form:</b> <a href="#" target="#"><%= [key] %> </a>
          <button type="button">Edit</button>
          <button type="button">Stats</button>
          <!-- make next line on the same line as others?? -->
          <form action="/urls/<%= [key] %>/delete" method="POST">
            <input type = "submit" value="Delete" />
          </form>
        </li>
      <% } %>
    </ul>


</body>
</html>
